<body>
    <form id = 'show-form' action="/create">
        <button  id="post-btn">Create</button><br>
    </form>
        <h1> Quiz Question</h1>
        <ol>
            <% for(var i = 0; i < quiz.length; i++) { %>
                <li>
                    <p><%- quiz[i].question %></p>
                    <form action="/edit/<%- quiz[i]._id %>" >
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                    <a href="#" data-toggle="modal" class="btn btn-primary" data-target="#exampleModal<%- i %>" >Delete</a>
                </li>   
                <%- include('del.ejs',{link: `quiz/delete/${quiz[i]._id}`, Sno: i  }) %> 
            <% } %>
        </ol>
        <script src="quiz.js"></script>
    </body>