<html>

<body>
<div class="row mt-5">
    <div class="col-md-4 m-auto">
        <h2 >Click To START QUIZ</h2>
        <div>
          <form action="/queslist" method="POST">
          <button type="submit" >Start Quiz</button>
          </form>
      </div>
      </div> 
    </div>
  </div>


</body>
</html>